/* local */
body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none; /* Bỏ dấu câu trước danh sách <li>*/
    padding: 0;
}

a {
    text-decoration: none; /* Không gạch chân khi gắn href*/
    color: inherit; /* Giữ màu khi gắn href */
}   

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 100px;
    line-height: 100px;
    z-index: 100;
}

footer {
    padding: 0;
    height: 250px;
    color: white;
    background-color: rgba(150, 46, 41);
}

footer ul {
    align-items: center;
    margin: 0;
}

footer ul li {
    padding: 10px;
    font-size: 20px;
}

.link-follows {
    display: flex;
    /* margin-bottom: 70px; */
}

footer ul li:nth-child(2) {
    margin-left: 160px;
    margin-right: 20px;
    font-size: 25px;
}

footer ul li:nth-child(3) {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}
footer ul li:nth-child(4) {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}
footer ul li:nth-child(5) {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}
.wrapper-footer-info {
    display: flex;
    font-family: Courier New;
    text-align: center;
    justify-content: space-around;
}
.wrapper-footer-info div {
    position: relative;
}


/* name-website */
#Name{
    font-size: 38px;
    font-weight: 24px;
    margin-left: 90px;
}

#Name a{
    color: white;
}


/* tab-header */
.nav-header {
    margin-right: 80px;
    /* display: flex; */
}

.nav-header ul {
    display: flex;
}

.nav-header ul li a {
    font-size: 21px;
    color: white;
    padding: 38px 10px 38px 10px;
    margin: 0 3px 0 3px;
    transition: background-color 0.6s;
}

.nav-header ul li a:hover {
    background-color: rgba(54, 46, 41, 0.5);
    color: rosybrown;
}



/* Scroll to top */
#goToTop {
    color: white;
    padding: 18px 24px;
    background-color: rgba(190, 46, 41, 0.6);
    position: fixed;
    right: 3%;
    bottom: -10%;
    transition: all 1s ease;
    z-index: 10;
}

#goToTop:hover {
    background-color: black;
}

#goToTop.slide-up {
    bottom: 5%;
}


/* HOME */
/* home main */
.home-main {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.home-img {
    background-image: url(img/home-coffee/home-main.jpg);
}

.parallax {
    position: relative;
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.parallax-img-text {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.parallax-img-text p {
    color: white;
    font-size: 2.0vw;
}
.head-title {
    font-size: 6vw;
    color: white;
}

.sec {
    margin-bottom: 100px;
    padding: 0 150px;
}

h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    color: rgba(120, 46, 41, 1);
    margin-bottom: 60px;
}

h1:before {
    content: " ";
    width: 60%;
    height: 50%;
    left: 20%;
    position: absolute;
    border-bottom: 1px dashed #b4462a;
    z-index: 1;
}

h1 span {
    position: relative;
    padding: 0 20px;
    background-color: white;
    z-index: 2;
}

.wrapper-sec1 {
    display: flex;
    justify-content: space-around;
}

.img-sec1 {
    width: 50%;
    height: 400px;
    margin-right: 50px;
}

h2 {
    font-size: 45px;
    margin-bottom: 40px;
}

.wrapper-sec1 p {
    font-size: 20px;
    margin-bottom: 50px;
}

#wrapper-button-sec1 {
    text-align: right;
}

.main-button {
    background-color: rgb(190, 46, 41);
    position: relative;
    color: white;
    font-size: 20px;
    padding: 13px 50px 13px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    display: inline-block;
}

.main-button .round {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 3px;
    right: 3px;
    transition: all 0.5s;
}

.main-button .round i {
    position: absolute;
    top: 29%;
    left: 40%;
    transition: all 0.5s;
}

.main-button:hover {
    padding-left: 40px;
    padding-right: 30px
}

.main-button:hover .round {
    width: 99%;
}

.contact-button:hover .round {
    width: 95%;
}

.main-button:hover .round i {
    left: 12%;
}

.sec1-img {
    background-image: url(img/home-coffee/reser-home.jpg);
}

.img-button {
    padding: 12px 25px;
    font-size: 2vw;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 300px;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: background-color, color 0.7s;
}

.img-button:hover {
    background-color: white;
    color: black;
}

.wrapper-sec2 {
    position: relative;
}

.sec2-imgs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.sec2-imgs img {
    width: 32%;
    height: 45vh;
}

.sec2-text {
    font-size: 26px;
    text-align: center;
    margin-bottom: 100px;
}

.sec2-text p {
    text-align: justify;
}

#wrapper-button-sec2 {
    text-align: center;
}

.sec2-img {
    background-image: url(img/home-coffee/counter-home.jpg);
}

/* Menu */
.menu-img {
    background-image: url(img/menu-coffee/menu-main.jpg);
}

.menu-body {
    display: flex;
    box-sizing: border-box;
}

.menu-list {
    margin: 0 10px 30px 10px;
}

.menu-list h3 {
    color: red;
    font-size: 25px;
}

.menu-list h4 {
    font-size: 20px;
    font-weight: normal;
}

.content-menu {
    display: flex;
}

.content-menu .click-prev {
    flex: 0 0 2%;
}

.content-menu .click-next {
    flex: 0 0 2%;
    margin-left: 10px;
}

.content-menu .content-list {
    flex: auto;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.content-list .items {
    flex: 0 0 calc(25%);
    margin-left: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.items img {
    width: 100%;
    height: 200px;
}



/* Contact */
.contact-img {
    background-image: url(img/contact-main.jpg);
}

.contact-main {
    padding: 0 100px;
    margin-bottom: 100px;
}

.container-contact hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.textwidget p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.textwidget p b{
    color: red;
}

.row1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row1 span {
    font-size: 20px;
    font-weight: bold;
}
.row1 span > sup {
    color: red;
}

input {
    height: 35px;
    margin-top: 10px;
}

textarea {
    height: 100px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px 10px;
}

input, textarea {
    width: 100%;
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(230, 230, 230);
}

input:focus, textarea:focus {
    background-color: white;
}

#file {
    font-size: 15px;
    border: 0;
    width: 350px;
    background-color: unset;
}

#preview {
    display: flex;
    justify-content: center;
}

.submit {
    margin-top: 20px;
    margin-left: 500px;
    width: 100px;
    height: 40px;
    background-color: darksalmon;
    transition: all 0.6s ease;
}

.submit:hover {
    background-color: aqua;
}


/* blog */
.blog-main {
    padding-bottom: 30px;
}

.blog-img {
    background-image: url(img/blog-main.png);
}

.container-blog {
    max-height: 400px;
}

section {
    display: block;
}



.title-blog-game {
    text-align: center;
    font-size: 36px;
    color: indianred;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
}

.row {
    display: flex;
}

.section {
    margin-bottom: 30px;
}

.section hr {
    max-width: 30%;
    height: 6px;
    background-color: orange;
    border: none;
}

.section h2 {
    color: #ff9800;
    max-width: 50%;
    margin: auto;
    padding-left: 30%;
}

.section p {
    color: #555;
    max-width: 50%;
    margin: auto;
}

.subheading {
    color: #ff9800;
    margin-bottom: 10px;
}


/* Scroll */
::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(220, 128, 104);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(180, 180, 180);
    background-color: #F5F5F5;
}